.circle {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 99999999;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

html {
  cursor: none;
}

a, button, input, textarea, [role="button"], [role="tab"] {
  cursor: none;
}

@media (max-width: 768px) {
  .circle {
    display: none !important;
  }
  
  html, a, button, input, textarea, [role="button"], [role="tab"] {
    cursor: auto !important;
  }
}

[data-theme="dark"] .circle {
  background-color: #ffffff !important;
  border: 1px solid #fff !important;
}
[data-theme="light"] .circle {
  background-color: #000 !important;
  border: 1px solid #000 !important;
}
